input, button{ outline: 0; }
*{
  font-family: "Nexa Bold";
}
button:hover{
  cursor: pointer;
}

canvas{
  border: 5px solid purple;
  position: absolute;
  /*bottom: 64px;*/
  z-index: -1;
  width: 1000px;
  /*width: calc(100vw - 25px);*/
  /*max-width: 1000px;*/
  border-top: 5px solid #ac3050;
}
body{
  background: black;
  /*width: 100vw;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
input{
  /*position: absolute;
  bottom: 470px;
  left: 500px;*/
  height: 40px;
  width: 348px;
  font-family: Arial;
  font-size: 34px;
}
#answer-list{
  position: relative;
  bottom: 520px;
  left: 690px;
  font-size: 2.6em;

  color: cyan;
}
#answer-list div{
  padding-top: 30px;
  font-family: Arial;
}
.logo{
  position: absolute;
  left: 25px;
}
.centerhor{
  margin: 0 auto;
  width: 1000px;
  height: 600px;
  position: absolute;
  bottom: calc(18vh - 30px);
}
.findus{
  width: 100%;
  max-width: calc(100vw - 25px);
  height: 50px;
  background: #ac3050;
  float: left;
  padding-left: 10px;
  padding-top: 8px;
  margin-top: 15px;
  font-family: sans-serif;
  position: absolute;
  bottom: 0px;
}
.findus h2{
  margin: 0px;
  width: 100px;
  padding-right: 47px;
  padding-top: 4px;
}
.findus p{
  margin: 3px;
  position: relative;
  width: 76px;
  top: -2px;
  height: 18px;
  color: black;
  font-size: 1.2em;
  padding-top: 4px;
}
.findus a img{
  height: 30px;
  width: auto;
}
.findus a {
  display: flex;
  padding-right: 23px;
}
.findus p:hover{
  /*color: purple;*/
  font-size: 1.3em;
}
.floatright{
  display: flex;
  float: right;
  margin-right: 52px;
  margin-top: 3px;
}
.language{
  /*position: absolute;*/
  /*width: 10vw;
  height: 10vw;*/
  width: 100px;
  height: 100px;
  /*max-width: 100px;
  max-height: 100px;*/
  color: white;
  font-size: 19px;
  border-radius: 90px;
}
.language:hover{
  background: purple;
}
.large{
  position: absolute;
  bottom: 317px;
  left: 118px;
  width: 200px;
  height: 200px;
  color: white;
  border-radius: 200px;
  font-size: 40px;

}
.large:active{
  border-style: outset;
}
.swedish{
  background: yellow;
  left: 750px;
  top: 308px;
  color: blue;
}
.spanish{
  background: red;
  left: 300px;
  top: 308px;
}
.french{
  background: blue;
  left: 450px;
  top: 308px;
}
.dutch{
  background: white;
  left: 600px;
  color: red;
  top: 308px;
}
.swahili{
  background: green;
  left: 150px;
  top: 308px;
  color: black;
}
.irish{
  background: orange;
  left: 150px;
  top: 425px;
  color: green;
}
.italian{
  background: white;
  left: 300px;
  top: 425px;
  color: green;
}
.german{
  background: black;
  left: 450px;
  top: 425px;
  color: red;
}
.maori{
  background: red;
  left: 600px;
  top: 425px;
  color: black;
}
.afrikaans{
  background: green;
  left: 750px;
  top: 425px;
  color: white;
}
.spanish-clicked{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_100/v1506906560/2000px-Spanish_Presidential_Flag.svg_j9x2z4.png);
  font-size: 0px;
}
.spanish-clicked:hover{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_100/v1506906560/2000px-Spanish_Presidential_Flag.svg_j9x2z4.png);
}
.spanish-large{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_200/v1506906560/2000px-Spanish_Presidential_Flag.svg_j9x2z4.png);
  color: white;
}
.swedish-clicked{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_100/v1506906753/2000px-Swedish_Flag-1.svg_vgvvmx.png);
  font-size: 0px;
}
.swedish-clicked:hover{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_100/v1506906753/2000px-Swedish_Flag-1.svg_vgvvmx.png);
}
.swedish-large{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_200/v1506906753/2000px-Swedish_Flag-1.svg_vgvvmx.png);
  color: #2664ac;
}
.french-clicked{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_100,w_100/v1506928001/french-flag_wnpsrq.jpg);
  font-size: 0px;
}
.french-clicked:hover{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_100,w_100/v1506928001/french-flag_wnpsrq.jpg);
}
.french-large{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_200,w_200/v1506928001/french-flag_wnpsrq.jpg);
  color: black;
}
.swahili-clicked{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_100,w_100/v1506928413/1280px-Flag_of_Kenya.svg_vghqqy.png);
  font-size: 0px;
}
.swahili-clicked:hover{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_100,w_100/v1506928413/1280px-Flag_of_Kenya.svg_vghqqy.png);
}
.swahili-large{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_200,w_200/v1506928413/1280px-Flag_of_Kenya.svg_vghqqy.png);
  color: white;
  text-shadow: 0px 0px 8px black;
}
.dutch-clicked{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_100,w_100/v1506928337/Flag_of_the_Netherlands_hkpyao.png);
  font-size: 0px;
}
.dutch-clicked:hover{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_100,w_100/v1506928337/Flag_of_the_Netherlands_hkpyao.png);
}
.dutch-large{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_200,w_200/v1506928337/Flag_of_the_Netherlands_hkpyao.png);
  color: black;
}
.irish-clicked{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_100,w_100/v1507182885/ie_qmdf23.gif);
  font-size: 0px;
}
.irish-clicked:hover{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_100,w_100/v1507182885/ie_qmdf23.gif);
}
.irish-large{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_200,w_200/v1507182885/ie_qmdf23.gif);
  color: white;
  text-shadow: 0px 0px 8px black;
}
.italian-clicked{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,g_center,h_100,w_100/v1507181144/21cWPlKRcQL._SX355__xw8plb.jpg);
  font-size: 0px;
}
.italian-clicked:hover{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,g_center,h_100,w_100/v1507181144/21cWPlKRcQL._SX355__xw8plb.jpg);
}
.italian-large{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,g_center,h_200,w_200/v1507181144/21cWPlKRcQL._SX355__xw8plb.jpg);
  color: black;
  text-shadow: 0px 0px 8px white;
}
.german-clicked{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_100,w_100/v1507181187/1200px-Flag_of_Germany.svg_l5vlm7.png);
  font-size: 0px;
}
.german-clicked:hover{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_100,w_100/v1507181187/1200px-Flag_of_Germany.svg_l5vlm7.png);
}
.german-large{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,h_200,w_200/v1507181187/1200px-Flag_of_Germany.svg_l5vlm7.png);
  color: black;
}
.maori-clicked{
  background-image: url(http://res.cloudinary.com/make-anything/image/upload/c_crop,g_east,h_278,w_433,x_108/c_scale,h_100,w_100/v1507181223/maori-national-flag_pvj0qy.gif);
  font-size: 0px;
}
.maori-clicked:hover{
  background-image: url(http://res.cloudinary.com/make-anything/image/upload/c_crop,g_east,h_278,w_433,x_108/c_scale,h_100,w_100/v1507181223/maori-national-flag_pvj0qy.gif);
}
.maori-large{
  background-image: url(http://res.cloudinary.com/make-anything/image/upload/c_crop,g_east,h_278,w_433,x_108/c_scale,h_200,w_200/v1507181223/maori-national-flag_pvj0qy.gif);
  color: white;
  text-shadow: 0px 0px 8px black;
}
.afrikaans-clicked{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,g_west,h_100,w_100/v1507181353/za_ub5ern.png);
  font-size: 0px;
}
.afrikaans-clicked:hover{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,g_west,h_100,w_100/v1507181353/za_ub5ern.png);
}
.afrikaans-large{
  background-image: url(https://res.cloudinary.com/make-anything/image/upload/c_scale,g_west,h_200,w_200/v1507181353/za_ub5ern.png);
  color: white;
  text-shadow: 0px 0px 8px black;
}
.backnext{
  max-width: 975px;
  position: relative;
  bottom: -33px;
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 50px);
  height: 50px;
  padding: 18px;
}
/*@media screen and (max-width: 1025px) {
  .inputsection {
    /*max-width: 975px;*/
    /*position: absolute;
    left:  47vw;
    bottom: 44vw;
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 50px);
    height: 50px;
    padding: 18px;
  }
}*/
/*@media screen and (min-width: 1024px) {*/
  .inputsection {
  max-width: 975px;
  position: relative;
  bottom: 519px;
  left: 489px;
  display: flex;
  justify-content: space-between;
  /*width: calc(100vw - 50px);*/
  height: 50px;
  padding: 18px;
  }
/*}*/
.chooselang1{
  /*max-width: 810px;*/
  position: relative;
  top: 290px;
  display: flex;
  justify-content: space-around;
  /*width: calc(100vw - 215px);*/
  /*height: calc(((100vw - 215px) / 4.5) + 57px);*/
  /*max-height: 240px;*/
  height: 240px;
  width: 100%;
  /*padding-left: 100px;*/
  padding: 8px;
  /*left: 87px;*/
}
.chooselang2{
  /*max-width: 810px;*/
  width: 100%;
  position: relative;
  bottom: -150px;
  display: flex;
  justify-content: space-around;
  /*width: calc(100vw - 215px);*/
  /*height: calc(((100vw - 215px) / 4.5) + 57px);*/
  /*max-height: 235px;*/
  height: 235px;
  padding-left: 100px;
  padding: 8px;
  /*left: 87px;*/
}
.nextbutton{
  /*position: absolute;
  bottom: 83px;
  right: calc(28px + (100vw - 1000px));*/
  height: 30px;
  width: 72px;
  background: #ab3151;
  border: 1.5px solid #9e9e9e;
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 16px;
}
.backbutton{
  /*position: absolute;
  bottom: 83px;
  left: 28px;*/
  height: 30px;
  width: 72px;
  background: #ab3151;
  border: 1.5px solid #9e9e9e;
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 16px;
}
.nextbutton:hover, .backbutton:hover{
  background: purple;
}
.playagain{
  position: absolute;
  bottom: 214px;
  left: 486px;
  height: 70px;
  width: 260px;
  background: #7b42cc;
  border-radius: 50px;
  /*border: 1.5px solid #9e9e9e;*/
  color: #76fafc;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 30px;
}
.hidden{
  display: none;
}
.phase3input{
  position: absolute;
  top: 252px;
  left: -122px;
  height: 49px;
  width: 500px;
  font-family: Arial;
  font-size: 40px;
}
.fail{
  color: red;
}
.success{
  color: #10d818;
}
